main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
  background: no-repeat top/contain url("./pattern-background-desktop.svg")
    hsl(225, 100%, 94%);
}

.plan {
  border-radius: 10px;
  background-color: hsl(224, 23%, 55%);
  font-size: 11px;
  padding: 20px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.payment {
  background-color: hsl(245, 75%, 52%);
  border-radius: 10px;
  font-size: 11px;
  padding: 10px;
  width: 90%;
  color: white;
  display: block;
  margin: 0 auto;
  cursor: pointer;
}
.summary {
  border: 2px solid black;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
  height: 50%;
  background-color: white;
}
.summary img {
  width: 400px;
}
.plan img {
  width: auto;
}
.design {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.cancel {
  display: inline-block;
  text-decoration: none;
  color: rgb(107, 107, 172);
  margin: 1rem 0 !important;
}
.change {
  text-decoration: underline;
  color: blue;
}
.summary p {
  width: 85%;
}

